body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

input#image-upload {
  border: 0;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

input#image-upload + label {
  cursor: pointer;
  margin: 10px;
  height: 2em;
  display: block;
  border: 3px dashed black;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;
}

#app-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "left view"
    "left map";
}

#left-panel {
  grid-area: left;
  background-color: lightblue;
}

#view-panel {
  position: relative;
  grid-area: view;
  background-color: orange;
}

#map-panel {
  grid-area: map;
  background-color: lightgreen;
  //cursor: none;
}

#reticle-canvas, #view-canvas {
  top:0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#texture-picker-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#pattern-canvas {
  display: none;
}

.texture {
  margin: 2px;
}

.texture.selected {
  margin: 0;
  border: 2px solid yellow;
}
